@import url('variables.css');

@media screen and (min-width: 375px) {

    * {
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 0.85rem;
        padding: 0;
        margin: 0;
        color: var(--base-color);
        background-color: #e4f6f8;
    }

    h1 {
        display: none;
    }

    h2 {
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: var(--dis-header);
    }

    header {
        display: flex;
        justify-content: space-around;
        background-color: var(--header-color);
        position: fixed;
        width: 100vw;
    }

    #index {
        margin-bottom: var(--dis-margin);
    }

    header>a {
        background-color: var(--header-color);
    }

    header>a img {
        width: 40%;
        margin: 1rem;
        justify-content: center;
        background-color: var(--header-color);
    }

    header>a:focus {
        fill: aqua;
    }

    .banner {
        width: 100vw;
    }

    h3 {
        font-size: 1rem;
    }

    .contact {
        display: flex;
        justify-content: center;
        margin-bottom: var(--dis-margin);
        text-align: center;
    }

    .cntctinfo {
        display: inline-block;
        text-align: right;
        vertical-align: top;
    }

    .cntctimg {
        display: inline-block;
        width: 10%;
    }

    .mainBody {
        display: grid;
        justify-content: space-between;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto auto;
        grid-template-areas: "MM FI CK"
            "CF GAT PRK"
            "BP BP BP";
    }

    .bodyContainer {
        display: flex;
        justify-content: space-around;
        margin-bottom: var(--dis-margin);
    }

    .marshmellow {
        grid-area: MM;
    }

    .fire {
        grid-area: FI;
    }

    .cooking {
        grid-area: CK;
    }

    .cookingFire {
        grid-area: CF;
    }

    .gathering {
        grid-area: GAT;
    }

    .parking {
        grid-area: PRK;
    }

    .location {
        display: grid;
        justify-items: center;
        margin-bottom: var(--dis-margin);
    }

    .location>h3 {
        text-align: center;
    }

    .location>img {
        width: var(--dis-viewer);

    }

    .bigBodyPicture {
        grid-area: BP;
    }

    main>section>img {
        padding-bottom: 3rem;
    }

    .directions {
        width: var(--dis-viewer);
        display: flex;
        margin: auto;
        margin-bottom: var(--dis-margin);
        border: var(--color-white) solid 5%;
    }

    button {
        display: flex;
        justify-content: center;
        width: 35%;
        font-size: 3rem;
        margin: auto;
        border-radius: 2rem 2rem;
        border: white 1rem;
        background-color: var(--color-must);
        color: whitesmoke;
        text-decoration: none;
        margin-bottom: var(--dis-margin);
    }

    button>img {
        background-color: var(--color-must);
        padding-top: 0.5rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
        width: 5%;
    }

    a {
        text-decoration: none;
    }

    footer>img {
        width: 100vw;
    }
    
    .active {
        fill: aqua;
    }
}

@media screen and (max-width: 375px) {


    * {
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 0.85rem;
        padding: 0;
        margin: 0;
        color: var(--base-color);
        background-color: #e4f6f8;
    }

    h1 {
        display: none;
    }

    h2 {
        font-size: 2rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: var(--dis-header);
    }

    header {
        display: flex;
        justify-content: space-around;
        background-color: var(--header-color);
        position: fixed;
        width: 100vw;
    }

    #index {
        margin-bottom: var(--dis-margin);
    }

    header>a {
        background-color: var(--header-color);
    }

    header>a img {
        width: 40%;
        margin: 1rem;
        justify-content: center;
        background-color: var(--header-color);
    }

    header>a.active {
        color: var(--base-blue);
    }

    .banner {
        width: 100vw;
    }

    h3 {
        font-size: 1rem;
    }

    .contact {
        display: flex;
        justify-content: center;
        margin-bottom: var(--dis-margin);
        text-align: center;
    }

    .cntctinfo {
        display: inline-block;
        text-align: right;
        vertical-align: top;
    }

    .cntctimg {
        display: inline-block;
        width: 10%;
    }

    .mainBody {
        display: grid;
        justify-content: center;
        grid-template-areas: "MM""FI""CK"
            "CF""GAT""PRK"
            "BP""BP""BP";
    }

    .bodyContainer {
        display: flex;
        justify-content: space-around;
        margin-bottom: var(--dis-margin);
    }

    .marshmellow {
        grid-area: MM;
        width: 100vw;
    }

    .fire {
        grid-area: FI;
        width: 100vw;
    }

    .cooking {
        grid-area: CK;
        width: 100vw;
    }

    .cookingFire {
        grid-area: CF;
        width: 100vw;
    }

    .gathering {
        grid-area: GAT;
        width: 100vw;
    }

    .parking {
        grid-area: PRK;
        width: 100vw;
    }

    .location {
        display: grid;
        justify-items: center;
        margin-bottom: var(--dis-margin);
    }

    .location>h3 {
        text-align: center;
    }

    .location>img {
        width: 100vw;
    }

    .bigBodyPicture {
        grid-area: BP;
        width: 100vw;
    }

    main>section>img {
        padding-bottom: 3rem;
    }

    .directions {
        width: var(--dis-viewer);
        display: flex;
        margin: auto;
        margin-bottom: var(--dis-margin);
        border: var(--color-white) solid 5%;
        width: 100vw;
    }

    button {
        display: flex;
        justify-content: center;
        align-items : center;
        width: 50%;
        font-size: 1rem;
        margin: auto;
        border-radius: 2rem 2rem;
        border: white 1rem;
        background-color: var(--color-must);
        color: whitesmoke;
        text-decoration: none;
        text-align: center;
        margin-bottom: var(--dis-margin);
    }

    button>img {
        background-color: var(--color-must);
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        width: 10%;
    }

    a {
        text-decoration: none;
    }

    footer>img {
        width: 100vw;
        margin: 0;
        padding: 0;
    }


}