:root {
    /* Colours */
    --header-color: #5686F0 ;
    --color-white: #ffffff;
    --color-must: #973CCA;
    --base-color:  #707070;
    --base-blue:  #B0F3E6;
    /* Distances */
    --dis-margin: 3.5%;
    --dis-header: 2%;
    --dis-viewer: 71vw;
}
